/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font-family: source-sans-pro, sans-serif;
  font-size: 100%;
  line-height: 1.125em;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #BF1BE0; }
a:hover   { color: #000; }
a:visited { color: #651F73; }

table {
  font-size: inherit;
  font: 100%;
}

blockquote {
  margin: 0 1.5em 0 1.5em;
  padding: 0 0.75em 0 1em;
  background-color: #EFC6F7;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 1.6em;
}

ul.posts li {
  line-height: 1.5em;
}

ul.posts span {
  color: #aaa;
  font-family: source-code-pro, sans-serif;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 1.125em;
  text-align: left;
  width: 38em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.site .header h1.title {
  display: inline-block;
  margin-bottom: 2em;
}

.site .header h1.title a {
  color: #BF1BE0;
}

.site .header h1.title a:hover {
  color: #000;
}

.site .header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.site .header a.extra:hover {
  color: #000;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  font-size: 28px;
  margin-top: 0.5em;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #BF1BE0;
  text-decoration: none;
}

/* ADN contact */
span.icon-alpha { 
  line-height: 20px;  
  text-align: center;  
  font-weight: bold;  
  position: relative;  
  right: 25px;
}

.icon-overlay {
  font-family: source-code-pro, sans-serif;
  font-size: 24px !important;
  position: relative;
  bottom: 4px;
  right: 25px;
  color: white;
}

.site .footer .practiceinfo {
  text-align: right;
  font-size: smaller;
}

.site .footer .practiceinfo a {
  font: 0.8em serif;
  color: #a0a0a0;
  padding: 0 2px;
  text-decoration: none;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.posts {
  font-size: 0.875em;
}

#post {
  font-size: 0.875em;
}

#post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

#post ul, #post ol {
  margin-left: 1.35em;
}

#post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

#post pre code {
  border: none;
}

#post span.unchecked {
  font-weight: bold;
}

#post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

#post pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/*
/* Media queries
/*
/*****************************************************************************/

@media (max-width: 750px) {
  .site { width: calc(100vw - 30px); }
}
