@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

header {
  background-color: #263d36;
  background-image: url("/media/header.jpeg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 5vw;
  text-align: center;
}

header h1 {
  color: white;
  font-size: 2.5em;
  font-weight: 300;
}

header a {
  border-radius: 290486px;
  color: white;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  margin: 0em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
}

header a:hover {
  background:  #bf1bea;
  color: white;
}

body {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  color: #555;
}

hr {
  color: #bf1be0;
  background-color: #bf1be0;
  height: 1px;
  border: none;
  margin: 1em 3em;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1,
h2,
strong {
  color: #333;
}

.posts li span {
  float: right;
}

blockquote {
  font-style: italic;
  margin: 0 1.5em;
  padding: 0 0.75em 0 1em;
  background-color: #efc6f7;
}

code,
pre {
  background: #efc6f7;
  border-bottom: 1px solid #bf1be0;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
  border-left: 2px solid #651f73;
}

a {
  color: #bf1bea;
}
